#body{

}

.cardapio {
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 60px;
    
}

.cardapio ul{
    display: grid ;
    grid-template-columns: 2fr 2fr 2fr ;
    gap: 50px; /*espaço */
    list-style: none;
}

div.titulo {
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.titulo img{
    height: 100px;
    width: 200px;
}
