
#header {
    margin-left: 10% ;
    margin-right: 10%;
    margin-top: 2%;

    display: flex ;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;

    background-color: #ffc400;
}

div.containerright {

    margin-top: 20px;
    display: flex ;
    flex-direction: column;
    width: 80%;
}

div.pesquisar{
    margin-right: 15px ;
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

div.pesquisar img{
    height: 28px;
    width: 28px;
    margin-left: 20px;
}

div.pesquisar input{
    border: 3px solid black;
    height: 28px;
    font-size: 22px;
}

div.containerleft{
    height: 350PX;
}

div.containerleft img{
    height: 350px;
    width: 350px;
}

div.titulo{
    display: flex ;
    flex-direction: column;
    align-items: flex-start;
}

div.titulo h1{
    margin-top: 80px;
    margin-bottom: 25px;
    font-size: 55px;
    text-align: center;
}

div.titulo h2{
    margin-top: 25px;
    text-align: center;
    font-size: 35px;
}

div.titulo div{
    margin-left: 12%;
}
